# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [2]:
import pandas as pd

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [7]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{u'_id': {u'$oid': u'52b213b38594d8a2be17c780'},
  u'approvalfy': 1999,
  u'board_approval_month': u'November',
  u'boardapprovaldate': u'2013-11-12T00:00:00Z',
  u'borrower': u'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  u'closingdate': u'2018-07-07T00:00:00Z',
  u'country_namecode': u'Federal Democratic Republic of Ethiopia!$!ET',
  u'countrycode': u'ET',
  u'countryname': u'Federal Democratic Republic of Ethiopia',
  u'countryshortname': u'Ethiopia',
  u'docty': u'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  u'envassesmentcategorycode': u'C',
  u'grantamt': 0,
  u'ibrdcommamt': 0,
  u'id': u'P129828',
  u'idacommamt': 130000000,
  u'impagency': u'MINISTRY OF EDUCATION',
  u'lendinginstr': u'Investment Project Financing',
  u'lendinginstrtype': u'IN',
  u'lendprojectcost': 550000000,
  u'majorsector_percent': [{u'Name': u'Education', u'Percent': 46},
   {u'Name': u'Education', u'Percent': 26},
   {u'Name': u'Public Administration, Law, and Justice', u'Percent': 16},
   {u'Name': u'Education', u'Percent': 12}],
  u'mjsector_namecode': [{u'code': u'EX', u'name': u'Education'},
   {u'code': u'EX', u'name': u'Education'},
   {u'code': u'BX', u'name': u'Public Administration, Law, and Justice'},
   {u'code': u'EX', u'name': u'Education'}],
  u'mjtheme': [u'Human development'],
  u'mjtheme_namecode': [{u'code': u'8', u'name': u'Human development'},
   {u'code': u'11', u'name': u''}],
  u'mjthemecode': u'8,11',
  u'prodline': u'PE',
  u'prodlinetext': u'IBRD/IDA',
  u'productlinetype': u'L',
  u'project_abstract': {u'cdata': u'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  u'project_name': u'Ethiopia General Education Quality Improvement Project II',
  u'projectdocs': [{u'DocDate': u'28-AUG-2013',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    u'EntityID': u'090224b081e545fb_1_0'},
   {u'DocDate': u'01-JUL-2013',
    u'DocType': u'IP',
    u'DocTypeDesc': u'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    u'EntityID': u'000442464_20130920111729'},
   {u'DocDate': u'22-NOV-2012',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    u'EntityID': u'090224b0817b19e2_1_0'}],
  u'projectfinancialtype': u'IDA',
  u'projectstatusdisplay': u'Active',
  u'regionname': u'Africa',
  u'sector': [{u'Name': u'Primary education'},
   {u'Name': u'Secondary education'},
   {u'Name': u'Public administration- Other social services'},
   {u'Name': u'Tertiary education'}],
  u'sector1': {u'Name': u'Primary education', u'Percent': 46},
  u'sector2': {u'Name': u'Secondary education', u'Percent': 26},
  u'sector3': {u'Name': u'Public administration- Other social services',
   u'Percent': 16},
  u'sector4': {u'Name': u'Tertiary education', u'Percent': 12},
  u'sector_namecode': [{u'code': u'EP', u'name': u'Primary education'},
   {u'code': u'ES', u'name': u'Secondary education'},
   {u'code': u'BS', u'name': u'Public administration- Other social services'},
   {u'code': u'ET', u'name': u'Tertiary education'}],
  u'sectorcode': u'ET,BS,ES,EP',
  u'source': u'IBRD',
  u'status': u'Active',
  u'supplementprojectflg': u'N',
  u'theme1': {u'Name': u'Education for all', u'Percent': 100},
  u'theme_namecode': [{u'code': u'65', u'name': u'Education for all'}],
  u'themecode': u'65',
  u'totalamt': 130000000,
  u'totalcommamt': 130000000,
  u'url': u'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {u'_id': {u'$oid': u'52b213b38594d8a2be17c781'},
  u'approvalfy': 2015,
  u'board_approval_month': u'November',
  u'boardapprovaldate': u'2013-11-04T00:00:00Z',
  u'borrower': u'GOVERNMENT OF TUNISIA',
  u'country_namecode': u'Republic of Tunisia!$!TN',
  u'countrycode': u'TN',
  u'countryname': u'Republic of Tunisia',
  u'countryshortname': u'Tunisia',
  u'docty': u'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  u'envassesmentcategorycode': u'C',
  u'grantamt': 4700000,
  u'ibrdcommamt': 0,
  u'id': u'P144674',
  u'idacommamt': 0,
  u'impagency': u'MINISTRY OF FINANCE',
  u'lendinginstr': u'Specific Investment Loan',
  u'lendinginstrtype': u'IN',
  u'lendprojectcost': 5700000,
  u'majorsector_percent': [{u'Name': u'Public Administration, Law, and Justice',
    u'Percent': 70},
   {u'Name': u'Public Administration, Law, and Justice', u'Percent': 30}],
  u'mjsector_namecode': [{u'code': u'BX',
    u'name': u'Public Administration, Law, and Justice'},
   {u'code': u'BX', u'name': u'Public Administration, Law, and Justice'}],
  u'mjtheme': [u'Economic management',
   u'Social protection and risk management'],
  u'mjtheme_namecode': [{u'code': u'1', u'name': u'Economic management'},
   {u'code': u'6', u'name': u'Social protection and risk management'}],
  u'mjthemecode': u'1,6',
  u'prodline': u'RE',
  u'prodlinetext': u'Recipient Executed Activities',
  u'productlinetype': u'L',
  u'project_name': u'TN: DTF Social Protection Reforms Support',
  u'projectdocs': [{u'DocDate': u'29-MAR-2013',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    u'EntityID': u'000333037_20131024115616'},
   {u'DocDate': u'29-MAR-2013',
    u'DocType': u'ISDS',
    u'DocTypeDesc': u'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    u'EntityID': u'000356161_20131024151611'},
   {u'DocDate': u'29-MAR-2013',
    u'DocType': u'ISDS',
    u'DocTypeDesc': u'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    u'EntityID': u'000442464_20131031112136'},
   {u'DocDate': u'29-MAR-2013',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    u'EntityID': u'000333037_20131031105716'},
   {u'DocDate': u'16-JAN-2013',
    u'DocType': u'ISDS',
    u'DocTypeDesc': u'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    u'EntityID': u'000356161_20130305113209'},
   {u'DocDate': u'16-JAN-2013',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    u'EntityID': u'000356161_20130305113716'}],
  u'projectfinancialtype': u'OTHER',
  u'projectstatusdisplay': u'Active',
  u'regionname': u'Middle East and North Africa',
  u'sector': [{u'Name': u'Public administration- Other social services'},
   {u'Name': u'General public administration sector'}],
  u'sector1': {u'Name': u'Public administration- Other social services',
   u'Percent': 70},
  u'sector2': {u'Name': u'General public administration sector',
   u'Percent': 30},
  u'sector_namecode': [{u'code': u'BS',
    u'name': u'Public administration- Other social services'},
   {u'code': u'BZ', u'name': u'General public administration sector'}],
  u'sectorcode': u'BZ,BS',
  u'source': u'IBRD',
  u'status': u'Active',
  u'supplementprojectflg': u'N',
  u'theme1': {u'Name': u'Other economic management', u'Percent': 30},
  u'theme_namecode': [{u'code': u'24', u'name': u'Other economic management'},
   {u'code': u'54', u'name': u'Social safety nets'}],
  u'themecode': u'54,24',
  u'totalamt': 0,
  u'totalcommamt': 4700000,
  u'url': u'http://www.worldbank.org/projects/P144674?lang=en'}]

In [8]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### 0. Loading and Exploring Data

In [9]:
df = pd.read_json('data/world_bank_projects.json')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 199.2+ KB

- 500 projects (rows) each with 50 features (columns)
- There are some missing columns
- 7 integer types and 43 object data types

In [11]:
# check the first 10 lines
df.head(10)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{u'$oid': u'52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{u'Percent': 46, u'Name': u'Regional integrati...","[{u'code': u'47', u'name': u'Regional integrat...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{u'$oid': u'52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{u'Percent': 50, u'Name': u'Participation and ...","[{u'code': u'57', u'name': u'Participation and...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{u'$oid': u'52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Export development...","[{u'code': u'45', u'name': u'Export developmen...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...
5,{u'$oid': u'52b213b38594d8a2be17c785'},2014,October,2013-10-31T00:00:00Z,REPUBLIC OF KENYA,NaN,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,JB,IBRD,Active,Y,"{u'Percent': 100, u'Name': u'Social safety nets'}","[{u'code': u'54', u'name': u'Social safety net...",54,10000000,10000000,http://www.worldbank.org/projects/P146161?lang=en
6,{u'$oid': u'52b213b38594d8a2be17c786'},2014,October,2013-10-29T00:00:00Z,GOVERNMENT OF INDIA,2019-06-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{u'Percent': 20, u'Name': u'Administrative and...","[{u'code': u'25', u'name': u'Administrative an...","39,25",500000000,500000000,http://www.worldbank.org/projects/P121185/firs...
7,{u'$oid': u'52b213b38594d8a2be17c787'},2014,October,2013-10-29T00:00:00Z,PEOPLE'S REPUBLIC OF CHINA,NaN,People's Republic of China!$!CN,CN,People's Republic of China,China,...,LR,IBRD,Active,N,"{u'Percent': 100, u'Name': u'Climate change'}","[{u'code': u'81', u'name': u'Climate change'}]",81,0,27280000,http://www.worldbank.org/projects/P127033/chin...
8,{u'$oid': u'52b213b38594d8a2be17c788'},2014,October,2013-10-29T00:00:00Z,THE GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{u'Percent': 87, u'Name': u'Other rural develo...","[{u'code': u'79', u'name': u'Other rural devel...",79,160000000,160000000,http://www.worldbank.org/projects/P130164/raja...
9,{u'$oid': u'52b213b38594d8a2be17c789'},2014,October,2013-10-29T00:00:00Z,THE KINGDOM OF MOROCCO,2014-12-31T00:00:00Z,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BM,BC,BZ",IBRD,Active,N,"{u'Percent': 33, u'Name': u'Other accountabili...","[{u'code': u'29', u'name': u'Other accountabil...","27,30,29",200000000,200000000,http://www.worldbank.org/projects/P130903?lang=en

In [12]:
# check column names
df.columns

Index([u'_id', u'approvalfy', u'board_approval_month', u'boardapprovaldate',
       u'borrower', u'closingdate', u'country_namecode', u'countrycode',
       u'countryname', u'countryshortname', u'docty',
       u'envassesmentcategorycode', u'grantamt', u'ibrdcommamt', u'id',
       u'idacommamt', u'impagency', u'lendinginstr', u'lendinginstrtype',
       u'lendprojectcost', u'majorsector_percent', u'mjsector_namecode',
       u'mjtheme', u'mjtheme_namecode', u'mjthemecode', u'prodline',
       u'prodlinetext', u'productlinetype', u'project_abstract',
       u'project_name', u'projectdocs', u'projectfinancialtype',
       u'projectstatusdisplay', u'regionname', u'sector', u'sector1',
       u'sector2', u'sector3', u'sector4', u'sector_namecode', u'sectorcode',
       u'source', u'status', u'supplementprojectflg', u'theme1',
       u'theme_namecode', u'themecode', u'totalamt', u'totalcommamt', u'url'],
      dtype='object')

The type of column name is unicode.

### 1. 10 countries with most projects

The relevant column names are country_namecode,	countrycode, countryname, and countryshortname. I will use countryshortname since it contains more familiar country names we use.

In [13]:
country_names = df['countryshortname']

In [14]:
sum(country_names.isnull())

0

There is no missing country name.

In [15]:
# number of unique values
country_names.nunique()

118

There are 118 countries in toral.

In [16]:
# Country name and their frequency in projects sorted by frequency
project_count_by_country = country_names.value_counts()
project_count_by_country

China                               19
Indonesia                           19
Vietnam                             17
India                               16
Yemen, Republic of                  13
Morocco                             12
Bangladesh                          12
Nepal                               12
Africa                              11
Mozambique                          11
Brazil                               9
Burkina Faso                         9
Pakistan                             9
Armenia                              8
Tajikistan                           8
Tanzania                             8
Kyrgyz Republic                      7
Nigeria                              7
Lao People's Democratic Republic     7
Jordan                               7
Kenya                                6
West Bank and Gaza                   6
Afghanistan                          6
Peru                                 6
Nicaragua                            6
Congo, Democratic Republic of        6
Haiti                                5
Honduras                             5
Moldova                              5
Uzbekistan                           5
                                    ..
Mexico                               2
Mauritania                           2
Timor-Leste                          2
Kosovo                               2
Malawi                               2
Seychelles                           2
Mauritius                            2
Europe and Central Asia              1
Romania                              1
East Asia and Pacific                1
Panama                               1
Congo, Republic of                   1
Costa Rica                           1
Sri Lanka                            1
Central African Republic             1
Cape Verde                           1
Zimbabwe                             1
Angola                               1
Thailand                             1
Serbia                               1
Chad                                 1
Belarus                              1
Tuvalu                               1
Poland                               1
Kiribati                             1
Bosnia and Herzegovina               1
Chile                                1
Namibia                              1
Tonga                                1
Antigua and Barbuda                  1
Name: countryshortname, dtype: int64

In [17]:
# Top 10 coutries
project_count_by_country[:10]

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Bangladesh            12
Nepal                 12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

__Answer to question 1:__

The above output shows the 10 countries with most projects are __
China                 (19),
Indonesia             (19),
Vietnam               (17),
India                 (16),
Yemen, Republic of    (13),
Morocco               (12),
Bangladesh            (12),
Nepal                 (12),
Africa                (11),
Mozambique            (11) __
in order.
The numbers in parentheses are the number of proejects.

### 2. Top 10 major project themes

The column __mjtheme_namecode__ will be used to find top major project themes.

In [18]:
# check the structure of mjtheme_namecode column
df['mjtheme_namecode'].head()

0    [{u'code': u'8', u'name': u'Human development'...
1    [{u'code': u'1', u'name': u'Economic managemen...
2    [{u'code': u'5', u'name': u'Trade and integrat...
3    [{u'code': u'7', u'name': u'Social dev/gender/...
4    [{u'code': u'5', u'name': u'Trade and integrat...
Name: mjtheme_namecode, dtype: object

In [19]:
# check more details of mjtheme_namecode for each of 10 projects
for item in df['mjtheme_namecode'][:10]:
    print(item) # themes for each project
    print(len(item)) # number of themes for each project

[{u'code': u'8', u'name': u'Human development'}, {u'code': u'11', u'name': u''}]
2
[{u'code': u'1', u'name': u'Economic management'}, {u'code': u'6', u'name': u'Social protection and risk management'}]
2
[{u'code': u'5', u'name': u'Trade and integration'}, {u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'6', u'name': u'Social protection and risk management'}]
4
[{u'code': u'7', u'name': u'Social dev/gender/inclusion'}, {u'code': u'7', u'name': u'Social dev/gender/inclusion'}]
2
[{u'code': u'5', u'name': u'Trade and integration'}, {u'code': u'4', u'name': u'Financial and private sector development'}]
2
[{u'code': u'6', u'name': u'Social protection and risk management'}, {u'code': u'6', u'name': u''}]
2
[{u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'4', u'name': u'Financial and private sector development'}]
2
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'8', u'name': u''}]
2
[{u'code': u'10', u'name': u'Rural development'}, {u'code': u'7', u'name': u''}]
2
[{u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}]
3

In [20]:
sum(df['mjtheme_namecode'].isnull())

0

In [21]:
df['mjtheme_namecode'][5][1]['name']

u''

There seems to be no missing value for the column mjtheme_namecode, but there are some blank theme names and redundant themes inside nested elements. The redundant themes could be there for some reasons (probably not by accident), so I will not remove them for now. The data also shows some projects have multiple themes, so each project has a list of dictionaries each with the theme code and name. Therefore, I will load json as a nested string this time and make tables using the techniques demonstrated above (normalization).

In [22]:
data = json.load(open('data/world_bank_projects.json'))

In [23]:
# Check the second project to see the structure
# data[1]

I will use normalization to get a row with two columns, theme code and theme name. Each row is for each theme of every project.

In [43]:
# normalization
df_theme = json_normalize(data, 'mjtheme_namecode')
df_theme.head(20)

   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7

In [26]:
#sum(df_theme.name.isnull())
df_theme.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 35.1+ KB

In [27]:
len(df_theme[df_theme['code'] ==""])

0

In [28]:
len(df_theme[df_theme['name'] ==""])

122

There are no null objects for both code and name columns, but 122 names are missing. I will make a list of indices with missing names.

In [29]:
# Make a list of indices with missing names
no_name_idx = df_theme[df_theme['name']==""].index.tolist()
len(no_name_idx)

122

In [30]:
type(df_theme['code'][0]), type(df_theme['name'][0]), type(df_theme.columns[0])

(unicode, unicode, unicode)

Both columns and column names are unicode types, so I will make them integer, string, and string types, respectively.

In [31]:
df_theme['code'] = df_theme['code'].astype(int)
df_theme['name'] = df_theme['name'].astype(str)
df_theme.columns = df_theme.columns.astype(str)

type(df_theme['code'][0]), type(df_theme['name'][0]), type(df_theme.columns[0])

(numpy.int32, str, str)

In [32]:
df_theme['code'].value_counts()

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: code, dtype: int64

In [33]:
code_count_table = pd.DataFrame(df_theme['code'].value_counts().reset_index())
code_count_table.columns =['code', 'count']
code_count_table

    code  count
0     11    250
1     10    216
2      8    210
3      2    199
4      6    168
5      4    146
6      7    130
7      5     77
8      9     50
9      1     38
10     3     15

There are 11 major themes with code 1 to 11. I will find out the name for each theme code and make a table.

In [34]:
code_name_table = df_theme.drop(no_name_idx).drop_duplicates().sort_values(by='code').reset_index(drop=True)
code_name_table

    code                                          name
0      1                           Economic management
1      2                      Public sector governance
2      3                                   Rule of law
3      4      Financial and private sector development
4      5                         Trade and integration
5      6         Social protection and risk management
6      7                   Social dev/gender/inclusion
7      8                             Human development
8      9                             Urban development
9     10                             Rural development
10    11  Environment and natural resources management

In [35]:
merge_on_code = pd.merge(code_count_table, code_name_table, on='code')
merge_on_code

    code  count                                          name
0     11    250  Environment and natural resources management
1     10    216                             Rural development
2      8    210                             Human development
3      2    199                      Public sector governance
4      6    168         Social protection and risk management
5      4    146      Financial and private sector development
6      7    130                   Social dev/gender/inclusion
7      5     77                         Trade and integration
8      9     50                             Urban development
9      1     38                           Economic management
10     3     15                                   Rule of law

In [36]:
# Top 10 major themes
merge_on_code[['code','name']][:10]

   code                                          name
0    11  Environment and natural resources management
1    10                             Rural development
2     8                             Human development
3     2                      Public sector governance
4     6         Social protection and risk management
5     4      Financial and private sector development
6     7                   Social dev/gender/inclusion
7     5                         Trade and integration
8     9                             Urban development
9     1                           Economic management

__Answer to question 2:__

The above table shows codes and names of the top 10 major themes.

### 3. Fill missing names

In [37]:
df = pd.read_json('data/world_bank_projects.json')

In [38]:
df['mjtheme_namecode'].head()

0    [{u'code': u'8', u'name': u'Human development'...
1    [{u'code': u'1', u'name': u'Economic managemen...
2    [{u'code': u'5', u'name': u'Trade and integrat...
3    [{u'code': u'7', u'name': u'Social dev/gender/...
4    [{u'code': u'5', u'name': u'Trade and integrat...
Name: mjtheme_namecode, dtype: object

In [39]:
df['mjtheme_namecode'][0]

[{u'code': u'8', u'name': u'Human development'},
 {u'code': u'11', u'name': u''}]

In [40]:
mjtheme_dict_unicode = dict(zip(code_name_table['code'].astype(unicode),code_name_table['name'].astype(unicode)))
mjtheme_dict_unicode

{u'1': u'Economic management',
 u'10': u'Rural development',
 u'11': u'Environment and natural resources management',
 u'2': u'Public sector governance',
 u'3': u'Rule of law',
 u'4': u'Financial and private sector development',
 u'5': u'Trade and integration',
 u'6': u'Social protection and risk management',
 u'7': u'Social dev/gender/inclusion',
 u'8': u'Human development',
 u'9': u'Urban development'}

In [41]:
count_fixed=0
for i, project in enumerate(df['mjtheme_namecode']):
    for j, theme in enumerate(project):
        if theme['name'] == "":
            print "Before: ", df['mjtheme_namecode'][i][j]
            df['mjtheme_namecode'][i][j]['name'] = mjtheme_dict_unicode[theme['code']]
            print "After: ", df['mjtheme_namecode'][i][j]
            count_fixed += 1

print "In total, ", count_fixed, " names were filled!!"

Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'5', u'name': u''}
After:  {u'code': u'5', u'name': u'Trade and integration'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'1', u'name': u''}
After:  {u'code': u'1', u'name': u'Economic management'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'9', u'name': u''}
After:  {u'code': u'9', u'name': u'Urban development'}
Before:  {u'code': u'1', u'name': u''}
After:  {u'code': u'1', u'name': u'Economic management'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'9', u'name': u''}
After:  {u'code': u'9', u'name': u'Urban development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'9', u'name': u''}
After:  {u'code': u'9', u'name': u'Urban development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'3', u'name': u''}
After:  {u'code': u'3', u'name': u'Rule of law'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'3', u'name': u''}
After:  {u'code': u'3', u'name': u'Rule of law'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'5', u'name': u''}
After:  {u'code': u'5', u'name': u'Trade and integration'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'5', u'name': u''}
After:  {u'code': u'5', u'name': u'Trade and integration'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'1', u'name': u''}
After:  {u'code': u'1', u'name': u'Economic management'}
Before:  {u'code': u'3', u'name': u''}
After:  {u'code': u'3', u'name': u'Rule of law'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'1', u'name': u''}
After:  {u'code': u'1', u'name': u'Economic management'}
Before:  {u'code': u'7', u'name': u''}
After:  {u'code': u'7', u'name': u'Social dev/gender/inclusion'}
Before:  {u'code': u'10', u'name': u''}
After:  {u'code': u'10', u'name': u'Rural development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'5', u'name': u''}
After:  {u'code': u'5', u'name': u'Trade and integration'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'2', u'name': u''}
After:  {u'code': u'2', u'name': u'Public sector governance'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'1', u'name': u''}
After:  {u'code': u'1', u'name': u'Economic management'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'4', u'name': u''}
After:  {u'code': u'4', u'name': u'Financial and private sector development'}
Before:  {u'code': u'11', u'name': u''}
After:  {u'code': u'11', u'name': u'Environment and natural resources management'}
Before:  {u'code': u'5', u'name': u''}
After:  {u'code': u'5', u'name': u'Trade and integration'}
Before:  {u'code': u'8', u'name': u''}
After:  {u'code': u'8', u'name': u'Human development'}
Before:  {u'code': u'6', u'name': u''}
After:  {u'code': u'6', u'name': u'Social protection and risk management'}
In total,  122  names were filled!!

In [42]:
df['mjtheme_namecode'][0]

[{u'code': u'8', u'name': u'Human development'},
 {u'code': u'11', u'name': u'Environment and natural resources management'}]

__Answer to question 3:__

In total, 122 theme names were filled.